:root {
    --main-color-dark: rgb(85, 0, 0);
    --main-color: rgb(102, 0, 0);
    --main-color-light: rgba(102, 0, 0, 0.6);
    --main-color-lighter: rgba(102, 0, 0, 0.3);
    --main-color-too-light: rgba(102, 0, 0, 0.02);

    --grey: #8f8f8f;
    --very-light-grey: lightgrey;
    --even-lighter-grey: rgba(211, 211, 211, 0.5);

    --upvote-color: rgb(177, 177, 177);
    --downvote-color: rgb(177, 177, 177);

    --title-font: 'NeoTech';
    --content-font: 'NeoSans Light';
}