@import "./palette.css";

#simple_success_message {
    max-width: 40em;
    margin: 6em auto;

    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    /* Tasty Shadow */
    -moz-box-shadow:    0 0 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    box-shadow:         0 0 8px rgba(0, 0, 0, 0.2);
}

#simple_success_message h1, #simple_success_message h2 {
    font-family: var(--title-font);
    margin: 1em;
}

#simple_success_message h2 {
    margin: 0.4em 0 1em 0;
}

#simple_success_message a {
    text-decoration: none;
    color: var(--main-color);
    font-family: var(--content-font);
    font-size: 1.1em;
}

#simple_success_message ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}