@import "./palette.css";

#top {
    margin-top: 2em;
}

.story-card {
    /* border: 1px solid black; */
    margin-top: 2em;
    transition: box-shadow 0.2s ease-in-out;
    -moz-box-shadow:    0 0 8px var(--main-color-lighter);
    -webkit-box-shadow: 0 0 8px var(--main-color-lighter);
    box-shadow:         0 0 8px var(--main-color-lighter);
    /* background-color: goldenrod; */
}

.story-card-info {
    padding: 2em;
}

.story-card:hover {
    -moz-box-shadow:    0 0 12px var(--main-color-light);
    -webkit-box-shadow: 0 0 12px var(--main-color-light);
    box-shadow:         0 0 12px var(--main-color-light);
}

.story-card.loading {
    background-color: palegreen;
}

.story-card .story-card-header {
    background-color: white;
}

.story-card .title {
    font-family: 'Autour One', cursive;
}

.story-card .content {
    padding: 1em;
    font-family: 'Armata', sans-serif;
}

.story-card .content-wrapper {
    overflow: hidden;

    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;

    background-color: var(--very-light-grey);
}

.story-card-header a {
    text-decoration: none;
    color: inherit;
}

.story-card-header .story-card-details {
    color: var(--grey);
    font-style: italic;
}

.story-card-details .author::before {
    content: "by ";
}

.story-card-details .date::before {
    content: "- ";
}

.story-card-header {
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: auto;
}

.story-card-header .story-card-info {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.story-card .story-card-header .voting-wrapper {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
    text-align: center;

    position: relative;

    overflow: hidden;
}

.story-card .story-card-header .voting-wrapper .voting {
    color: white;
    background-color: var(--main-color);
    transform: translate(50%, -50%);
    transition: 0.3s transform ease-in-out;

    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px;
}

.story-card:hover .story-card-header .voting-wrapper .voting {
    transform: translate(-50%, -50%);
}

.story-card .story-card-header .voting-wrapper > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* The actually displayed score */
.story-card .voting-wrapper > .score {
    z-index: 1;
    transition: 0.3s color ease-in-out;
}

.story-card:hover .voting-wrapper > .score {
    color: white;
}

/* Using score as just a spacer */
.story-card .voting-wrapper .voting .score {
    opacity: 0;
}

.story-card.upvoted .voting-wrapper .voting .vote-up {
    color: orange;
}

.story-card.downvoted .voting-wrapper .voting .vote-down {
    color: blue;
}