@import "./palette.css";

.full-story {
    margin: 2em auto;
    width: 80%;
    display: flex;
    padding: 0 2em;
    box-sizing: border-box;
    flex-direction: column;
    -moz-box-shadow:    0 0 8px var(--main-color-lighter);
    -webkit-box-shadow: 0 0 8px var(--main-color-lighter);
    box-shadow:         0 0 8px var(--main-color-lighter);

    font-family: var(--content-font);
}

.full-story hr {
    margin-top: 1em;
    color: var(--very-light-grey);
    height: 0;
    border: 1px solid var(--very-light-grey);
    width: 100%;
}

.story-header .voting-wrapper {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
}

.story-header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    margin-top: 1em;
}

.story-header .story-info {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin-top: 1em;
}


.story-header a {
    text-decoration: none;
    color: inherit;
}

.story-header .story-details {
    color: var(--grey);
    font-style: italic;
    font-family: var(--title-font), sans-serif;

}

.full-story .title {
    font-size: 2.5em;
    font-family: var(--title-font);
    margin-bottom: 0.2em;
    margin-top: 0;
}

.full-story .content{
    font-family: inherit;
}

.full-story h1 {
    font-family: var(--title-font);
    font-size: 2em;
}

.full-story h2 {
    font-family: var(--title-font);
    font-size: 1.75em;
}

.full-story h3 {
    font-family: var(--title-font);
    font-size: 1.5em;
}

.full-story h4 {
    font-family: var(--title-font);
    font-size: 1.25em;
}

.full-story h5 {
    font-family: var(--title-font);
    font-size: 1em;
}

.full-story .voting-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    font-family: var(--title-font);
    font-size: 2em;
}

.full-story .voting-wrapper .vote-up, .full-story .voting-wrapper .vote-down {
    cursor: pointer;
}

.full-story.upvoted .voting-wrapper .vote-up {
    color: var(--upvote-color);
}

.full-story.downvoted .voting-wrapper .vote-down {
    color: var(--downvote-color);
}


@media screen and (max-width: 60em) {

    .full-story .title {
        font-size: 1.5em;
        padding-right: 0.5em;
    }

    .full-story .voting-wrapper {
        font-size: 1.5em;
    }
}