@import "./palette.css";

#top {
    margin-top: 2em;
}

.story-card {
    margin-top: 2em;
    transition: box-shadow 0.2s ease-in-out;
    -moz-box-shadow:    0 0 8px var(--main-color-lighter);
    -webkit-box-shadow: 0 0 8px var(--main-color-lighter);
    box-shadow:         0 0 8px var(--main-color-lighter);
}

.story-card-info {
    padding: 2em;
}

.story-card:hover {
    -moz-box-shadow:    0 0 12px var(--main-color-light);
    -webkit-box-shadow: 0 0 12px var(--main-color-light);
    box-shadow:         0 0 12px var(--main-color-light);
}

.story-card.loading {
    background-color: palegreen;
}

.story-card .story-card-header {
    background-color: white;
}

.story-card .title {
    font-family: var(--title-font), sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* content */

.story-card .content {
    padding: 1em;
    font-family: var(--content-font), sans-serif;
    font-size: 1.2em;
}

.story-card .content-wrapper {
    overflow: hidden;

    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;

    /* background-color: var(--very-light-grey); */
    background-color: var(--main-color-too-light);
}

.story-card .content-wrapper hr {
    border: 0;
    height: 0; /* Firefox... */
    -moz-box-shadow:    0 -12px 20px 2px black;
    -webkit-box-shadow: 0 -12px 20px 2px black;
    box-shadow: 0 -12px 20px 2px black;
}

.story-card .content-wrapper hr:after {
    /* Not really supposed to work, but does */
    content: "\00a0"; /* Prevent margin collapse */
}

/* header */

.story-card-header a {
    text-decoration: none;
    color: inherit;
}

.story-card-header .story-card-details {
    color: var(--grey);
    font-style: italic;
    font-family: var(--title-font), sans-serif;
}

.story-card-details i {
    margin-left: 0.5em;
}

.story-card-header {
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: auto;
}

.story-card-header .story-card-info {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

/* Voting */

.story-card .story-card-header .voting-wrapper {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
    text-align: center;

    position: relative;

    overflow: hidden;
}

.story-card .story-card-header .voting-wrapper .voting {
    color: white;
    background-color: var(--main-color);
    transform: translate(50%, -50%);
    transition: 0.3s transform ease-in-out;

    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

.story-card .story-card-header:hover .voting-wrapper .voting {
    transform: translate(-50%, -50%);
}

.story-card .story-card-header .voting-wrapper > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* Applies to both scores */

.story-card .story-card-header .voting-wrapper .score {
    font-family: var(--title-font);
    font-size: 2em;
}

/* The actually displayed score */
.story-card .voting-wrapper > .score {
    z-index: 1;
    transition: 0.3s color ease-in-out;
    /* line-height: 2em; */
    /* display: flex;
    align-items: center;
    justify-content: center; */

}

.story-card .story-card-header:hover .voting-wrapper > .score {
    color: white;
}

.story-card .voting .vote-up, .story-card .voting .vote-down {
    font-size: 2em;
}

/* Using score as just a spacer */
.story-card .voting-wrapper .voting .score {
    opacity: 0;
}

.story-card.upvoted .voting-wrapper .voting .vote-up {
    color: chocolate;
}

.story-card.downvoted .voting-wrapper .voting .vote-down {
    color: deepskyblue;
}