@import "./palette.css";
@import "./fonts.css";
@import "./line.css";
@import "./navbar.css";
@import "./story_card.css";

body {
    margin: 0;
}

#content {
    margin: 0 auto 2em auto;
    max-width: 60em;
}

.full-story {
    border: 1px solid blue;
    margin-top: 1em;
}