@import "./palette.css";
@import "./fonts.css";
@import "./line.css";
@import "./navbar.css";
@import "./story_card.css";
@import "./story.css";
@import "./comments.css";
@import "./forms.css";
@import "./simple_success_message.css";
@import "./tabs.css";
@import "./404.css";
@import "./settings.css";
@import "./user_info.css";
@import "./search.css";


body {
    margin: 0;
    height: 100vh;
}

img {
    max-width: 100%;
}

#content {
    margin: 0 auto 2em auto;
    max-width: 80%;
}

.refresh-btn {
    cursor: pointer;
    transition: transform 0.8s ease-in-out;
}

.refresh-btn:hover {
    transform: rotate(720deg);
}