@import "./palette.css";

.new-story {
    min-width: 15em;
    max-width: 50em;
}

.new-story, .new-comment, .new-subcomment {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    padding: 1em 2em 0 2em;
}

.new-subcomment {
    padding-left: 0;
}

.new-story, .new-comment {

    -moz-box-shadow:    0 0 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    box-shadow:         0 0 8px rgba(0, 0, 0, 0.2);  
}

.new-story input, .new-comment input, .new-subcomment input {
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1.5em;
    /* Change for a lighter grey */
    border: 2px solid var(--very-light-grey);
    box-sizing: border-box;
    font-family: var(--content-font);
}

.new-comment .editor, .new-subcomment .editor {
    display: flex;
    flex-direction: column;
}

.new-comment {
    padding-top: 3em;
}

.title-area input{
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}

.channel-area input {
    margin-bottom: 1em;
}

.title-area {
    margin-bottom: 1em;
}

.md-editor {
    font-family: var(--content-font);
}

.new-story .md-editor > textarea,.new-story .preview-selector.tab {
    height: 30rem;
}

.new-comment .md-editor > textarea,.new-comment .preview-selector.tab {
    height: 15rem;
}

.new-subcomment .md-editor > textarea,.new-subcomment .preview-selector.tab {
    height: 10rem;
}

.md-editor > textarea,.preview-selector.tab {
    width: 100%;
    overflow-y: scroll;
}

.tab-selector {
    display: none;
}

.tab {
    display: none;
    border: 1px solid var(--grey);
    box-sizing: border-box;
    padding-left: 1em;
    padding-top: 2em;
}

.tab.visible{
    display: block;
}

.tab-label.visible {
    color: var(--main-color);
}

.tab-label.visible {
    color: var(--main-color);
    border: 1px solid var(--grey);
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid #fff;
}

.tab-label {
    display: inline-block;
    text-align: center;
    padding: 1em;
    border: 1px solid transparent;
    margin: 0 0 -2px;
    cursor: pointer;
}

.tab-label:hover {
    color: var(--main-color-light);
}


.editor-selector {
    resize: none;
    font-family: inherit;
}

.editor h1 {
    font-family: var(--title-font);
    font-size: 2em;
}

.editor h2 {
    font-family: var(--title-font);
    font-size: 1.75em;
}

.editor h3 {
    font-family: var(--title-font);
    font-size: 1.5em;
}

.editor h4 {
    font-family: var(--title-font);
    font-size: 1.25em;
}

.editor h5 {
    font-family: var(--title-font);
    font-size: 1em;
}

.new-subcomment button {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid black;
    margin-bottom: 1em;
    margin-top: 1em;
}

.new-story button, .new-comment button, .new-subcomment button {
    width: 60%;
    align-self: center;
    border-radius: 10px;
    background-color: var(--main-color);
    color: white;
    font-family: var(--title-font);

}


.new-story button, .new-comment button {
    padding: 0.5em;
    font-size: 1.2em;
    border: 1px solid black;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.new-story button:active, .new-comment button:active, .new-subcomment button:active {
    background-color: var(--main-color-dark);
}

.msg-field {
    margin-top: 1em;
    font-family: var(--content-font);
    font-weight: normal;
    font-size: 1em;
    color: red;
    align-self: center;
}